<!doctype html>
<html lang="en">

<head>
  <title>SIRA &mdash;Contatos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="static/fonts/brand/style.css">
    <link rel="stylesheet" href="static/css4/bootstrap.min.css">
    <link rel="stylesheet" href="static/css4/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/css4/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css4/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css4/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css4/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css4/stylee.css">

</head>

<body>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>


  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar light site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">

          <div class="col-3">
            <div class="site-logo">
              <a href="{{ url_for('home') }}">   <strong>LOGAR</strong></a>
            </div>
          </div>

          <div class="col-9  text-right">

            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="tutorials.html" class="nav-link">Sobre</a></li>
                <li><a href="testimonials.html" class="nav-link">Funcionalidades</a></li>
                <li><a href="blog.html" class="nav-link">Parceiros</a></li>
                <li><a href="about.html" class="nav-link">Grupo</a></li>
                <li class="active"><a href="contact.html" class="nav-link">Contato</a></li>
              </ul>
            </nav>
          </div>


        </div>
      </div>

    </header>


    <div class="site-section-cover overlay" style="background-image: url('static/images/hero_bg.png');">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10 text-center">
            <h1><strong>Contato</strong></h1>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <div class="heading mb-4">
          
              <h2>Contate-nos</h2>
            </div>


          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="static/images/contato.png" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Flavio Porto Muniz </h2>
                <a href="mailto:seu_endereco_de_email">Email: 2006473@aluno.univesp.br</a><br><br>
                <h2>Luis Araujo de Oliveira </h2>
                 <a href="mailto:seu_endereco_de_email">Email: 2011630@aluno.univesp.br</a><br><br>
                <h2>Vinicius Pimenta </h2>
                 <a href="mailto:seu_endereco_de_email">Email: 2004685@aluno.univesp.br</a><br><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="static/images/contato.png" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Jonas Fernando Pantoja </h2>
                <a href="mailto:seu_endereco_de_email">Email: 2004206@aluno.univesp.br</a><br><br>
                <h2>Neuzeli Cassia Domingos de Morais </h2>
                <a href="mailto:seu_endereco_de_email">Email: 2001426@aluno.univesp.br</a><br><br>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">

              <img src="static/images/contato.png" alt="Image"
              class="img-fluid">

              <div class="post-entry-1-contents">
                <span class="meta"></span>
                <h2>Kassio Machado </h2>
                 <a href="mailto:seu_endereco_de_email">Email: 2000740@aluno.univesp.br</a><br><br>
                <h2>Renan Carvalho Ramos </h2>
                <a href="mailto:seu_endereco_de_email">Email: 2011947@aluno.univesp.br</a><br><br>
              </div>
            </div>
          </div>

          
          </div>
        </div>
      </div>
    </div>
    

</body>

</html>

